@import "../../globalStyles/variables.scss";

.btn {
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-size: 1.6rem;
  border-radius: 0;
  font-weight: bold;

  &--yellow {
    background: var(--brand-color-yellow);
    color: var(--brand-color-black);
  }
}
