@import "../../globalStyles/variables.scss";

.btn {
  text-transform: uppercase;
  font-size: 1.6rem;
  border-radius: 0;

  &--yellow {
    background: var(--brand-color-yellow);
    color: var(--brand-color-black);
  }
}
