@import "../../globalStyles/variables.scss";

.btn {
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-size: 1.6rem;
  border-radius: 0;
  font-weight: var(--font-weight);

  > i {
    margin-left: 1rem;
  }

  &--white {
    padding: 1rem 0rem;
    background: var(--brand-color-white);
    color: var(--brand-color-black);
  }

  &--yellow {
    background: var(--brand-color-yellow);
    color: var(--brand-color-black);
  }

  &--black {
    background: var(--brand-color-black);
    color: var(--brand-color-yellow);
  }
}
