@import "./variables.scss";

// Centering a block element
@mixin push--auto {
  margin: {
    left: auto;
    right: auto;
  }
}

// Filling base pseudo properties
@mixin pseudo($display: block, $pos: absolute, $content: "") {
  content: $content;
  display: $display;
  position: $pos;
}
/* 
div {
    &:after {
        @include pseudo;
        top: -1rem; left: -1rem;
        width: 1rem; height: 1rem;
    } 
}
*/

@mixin breakpoint($device, $type: min) {
  @if map_has_key($breakpoints, $device) {
    $device: map_get($breakpoints, $device);
    @if $type == max {
      $device: $device - 1px;
    }
    @media only screen and (#{$type}-width: $device) {
      @content;
    }
  }
}

/* 
.site-header {
    padding: 2rem;
    font-size: 1.8rem;
    @include breakpoint('tablet-wide') {
        padding-top: 4rem;
        font-size: 2.4rem;
    }
} 
*/

@function z($name) {
  @if index($z-indexes, $name) {
    @return (length($z-indexes) - index($z-indexes, $name)) + 1;
  } @else {
    @warn 'There is no item "#{$name}" in this list; choose one of: #{$z-indexes}';
    @return null;
  }
}
/* 
.site-header {
    z-index: z('site-header');
} 
*/

@each $space in $spaceamounts {
  @each $side in $sides {
    @if $side == "all" {
      .m-#{$space} {
        margin: #{$space}rem;
      }

      .p-#{$space} {
        padding: #{$space}rem;
      }
    } @else {
      // maak class .m met
      .m#{str-slice($side, 0, 1)}-#{$space} {
        margin-#{$side}: #{$space}rem !important;
      }

      .p#{str-slice($side, 0, 1)}-#{$space} {
        padding-#{$side}: #{$space}rem !important;
      }
    }
  }
}
