// Centering a block element
@mixin push--auto {
  margin: {
    left: auto;
    right: auto;
  }
}

// Filling base pseudo properties
@mixin pseudo($display: block, $pos: absolute, $content: "") {
  content: $content;
  display: $display;
  position: $pos;
}
/* 
div {
    &:after {
        @include pseudo;
        top: -1rem; left: -1rem;
        width: 1rem; height: 1rem;
    } 
}
*/
