@import "./variables.scss";

.flex {
  display: flex;

  &--center-v {
    align-items: center;
  }

  &--center-v {
    justify-content: center;
  }

  &--divide-h {
    justify-content: space-between;
  }
}

.txt {
  &--l {
    text-align: left;
  }

  &--c {
    text-align: center;
  }

  &--r {
    text-align: right;
  }

  &--color-black {
    color: var(--brand-color-black);
  }

  &--color-yellow {
    color: var(--brand-color-yellow);
  }

  &--color-white {
    color: var(--brand-color-white);
  }
}
