$brand-color--white: #ffffff;
$brand-color--black: #000000;
$brand-color--yellow: #ffe000;
$brand-color--lightgrey: #f7f7f7;
$brand-color--mediumgrey: #c3c3c3;
$brand-color--darkgrey: #999999;
$error-color: #d33737;

// Fonts
$font-weight--bold: bold;
$fontsize--base: 1.6rem;
$fontsize--small: 1.4rem;

$fontsize--h1: 7rem;
$fontsize--h2: 4.5rem;
$fontsize--h3: 3.2rem;
$fontsize--h4: 2.4rem;
$fontsize--h5: 2rem;
$fontsize--h6: 1.6rem;

// Breakpoints
$breakpoint--phone: 400px;
$breakpoint--phone-wide: 480px;
$breakpoint--phablet: 560px;
$breakpoint--tablet-small: 640px;
$breakpoint--tablet: 768px;
$breakpoint--tablet-wide: 1024px;
$breakpoint--desktop: 1248px;
$breakpoint--desktop-wide: 1440px;

:root {
  // Colors
  --brand-color--white: #ffffff;
  --brand-color--black: #000000;
  --brand-color--yellow: #ffe000;
  --brand-color--lightgrey: #f7f7f7;
  --brand-color--mediumgrey: #c3c3c3;
  --brand-color--darkgrey: #999999;
  --error-color: #d33737;

  // Fonts
  --font-weight--bold: bold;
  --fontsize--base: 1.6rem;
  --fontsize--small: 1.4rem;

  --fontsize--h1: 7rem;
  --fontsize--h2: 4.5rem;
  --fontsize--h3: 3.2rem;
  --fontsize--h4: 2.4rem;
  --fontsize--h5: 2rem;
  --fontsize--h6: 1.6rem;

  // Breakpoints
  --breakpoint--phone: 400px;
  --breakpoint--phone-wide: 480px;
  --breakpoint--phablet: 560px;
  --breakpoint--tablet-small: 640px;
  --breakpoint--tablet: 768px;
  --breakpoint--tablet-wide: 1024px;
  --breakpoint--desktop: 1248px;
  --breakpoint--desktop-wide: 1440px;
}

$breakpoints: (
  "phone": 400px,
  "phone-wide": 480px,
  "phablet": 560px,
  "tablet-small": 640px,
  "tablet": 768px,
  "tablet-wide": 1024px,
  "desktop": 1248px,
  "desktop-wide": 1440px
);

$z-indexes: (
  "outdated-browser",
  "modal",
  "site-header",
  "page-wrapper",
  "site-footer"
);

$spaceamounts: (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100);
$sides: (top, bottom, left, right);
