::root {
  --brand-color-white: #ffffff;
  --brand-color-black: #000000;
  --brand-color-yellow: #ffffff;
}

body,
html {
  font-size: 10px;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul,
p {
  font-size: 1.6rem;
}

.App {
  text-align: center;
}

.App-logo {
  position: relative;
  margin: 2rem 0;
  width: 10rem;
  height: auto;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

h1 {
  color: var(--brand-color-black);
}

.home {
  background: purple;
}
