@import "./globalStyles/variables.scss";
@import "./globalStyles/typography.scss";

body,
html {
  font-size: 10px;
}

ul {
  list-style: none;
  padding-left: 0;
}

.pageBlock {
  height: 30rem;
  background: var(--brand-color-yellow);
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
