@import "./globalStyles/variables.scss";
@import "./globalStyles/typography.scss";

body,
html {
  font-size: 10px;
}

ul {
  list-style: none;
  padding-left: 0;
}

.pageBlock {
  height: 30rem;
  background: var(--brand-color-yellow);
}

.default-list {
  border: var(--brand-color-lightgrey) solid 1px;

  &__item {
    border-bottom: var(--brand-color-lightgrey) solid 1px;

    * {
      text-transform: uppercase;
      font-weight: bold;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}

.App {
  text-align: center;
}

.App-logo {
  position: relative;
  margin: 2rem 0;
  width: 10rem;
  height: auto;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}
