@import "./globalStyles/variables.scss";
@import "./globalStyles/typography.scss";

body,
html {
  font-size: 10px;
}

ul {
  list-style: none;
  padding-left: 0;
}
.pageblock-wrapper {
  &:hover {
    text-decoration: none;
  }
}

.pageblock {
  height: 30rem;
  background: var(--brand-color-yellow);
  margin-top: 0;
  opacity: 0.8;
  transition: all 400ms;

  &:hover {
    margin-top: -2rem;
    opacity: 1;
    transition: all 400ms;
  }

  i {
    font-size: var(--font-h1);
    color: var(--brand-color-black);
  }
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
