:root {
  --brand-color-white: #ffffff;
  --brand-color-black: #000000;
  --brand-color-yellow: #ffffff;
  --brand-color-lightgrey: #f7f7f7;
  --brand-color-darkgrey: #999999;

  --error-color: #d33737;
}

@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";

body,
html {
  font-size: 10px;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul,
p {
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

.default-list {
  border: var(--brand-color-lightgrey) solid 1px;

  &__item {
    border-bottom: var(--brand-color-lightgrey) solid 1px;

    * {
      text-transform: uppercase;
      font-weight: bold;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}

.App {
  text-align: center;
}

.App-logo {
  position: relative;
  margin: 2rem 0;
  width: 10rem;
  height: auto;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

h1 {
  color: var(--brand-color-black);
}
