@import "./globalStyling/vendor/_vendor-dir",
  "./globalStyling/abstracts/_abstracts-dir", "./globalStyling/base/_base-dir";

body,
html {
  font-size: 10px;
}

ul {
  list-style: none;
  padding-left: 0;
}

.App {
  text-align: center;
}
