@import "./globalStyling/vendor/_vendor-dir";

//Abstracts
@import "./globalStyling/abstracts/_abstracts-dir";

//Base Styles
@import "./globalStyling/base/_base-dir";

//Components
@import "./globalStyling/components/_components-dir";

//Layout
@import "./globalStyling/layouts/_layouts-dir";

body,
html {
  font-size: 10px;
}

ul {
  list-style: none;
  padding-left: 0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.pageblock-wrapper {
  &:hover {
    text-decoration: none;
  }
}

.pageblock {
  height: 30rem;
  background: var(--brand-color--yellow);
  margin-top: 0;
  opacity: 0.8;
  transition: all 400ms;

  &:hover {
    margin-top: -2rem;
    opacity: 1;
    transition: all 400ms;
  }

  i {
    font-size: var(--fontsize--h1);
    color: var(--brand-color--black);
  }
}
