body,
html {
  font-size: 10px;
}

.App {
  text-align: center;
}

.App-logo {
  position: relative;
  margin: 2rem 0;
  width: 10rem;
  height: auto;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}
