.flex {
  display: flex;

  &--center-v {
    align-items: center;
  }

  &--divide-h {
    justify-content: space-between;
  }
}

.txt {
  &--l {
    text-align: left;
  }

  &--c {
    text-align: center;
  }

  &--r {
    text-align: right;
  }
}
