.flex {
  display: flex;

  &--center-v {
    align-items: center;
  }

  &--divide-h {
    justify-content: space-between;
  }
}

.txt {
  &--l {
    text-align: left;
  }

  &--c {
    text-align: center;
  }

  &--r {
    text-align: right;
  }

  &--color-black {
    color: var(--brand-color-black);
  }

  &--color-yellow {
    color: var(--brand-color-yellow);
  }

  &--color-white {
    color: var(--brand-color-white);
  }
}

$spaceamounts: (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100);
$sides: (top, bottom, left, right);

@each $space in $spaceamounts {
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}rem !important;
    }

    .p#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}rem !important;
    }
  }
}
