:root {
  --brand-color-white: #ffffff;
  --brand-color-black: #000000;
  --brand-color-yellow: #ffe000;
  --brand-color-lightgrey: #f7f7f7;
  --brand-color-darkgrey: #999999;

  --font-weight: bold;

  --error-color: #d33737;
}
