@import "../abstracts/variables";

ul,
p {
  font-size: var(--fontsize-base);
}

h1 {
  font-size: var(--font-h1);
}

h2 {
  font-size: var(--font-h2);
}

h3 {
  font-size: var(--font-h3);
}

h4 {
  font-size: var(--font-h4);
}

h5 {
  font-size: var(--font-h5);
}

h6 {
  font-size: var(--font-h6);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
