ul,
p {
  font-size: var(--font-base);
}

h1 {
  font-size: var(--font-h1);
}

h2 {
  font-size: var(--font-h2);
}

h3 {
  font-size: var(--font-h3);
}

h4 {
  font-size: var(--font-h4);
}

h5 {
  font-size: var(--font-h5);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
