@import "../../../globalStyles/variables.scss";

.search-artist,
.create-playlist {
  &__input {
    font-size: 1.4rem;
    padding: 1rem 1.5rem;
    border-radius: 0;
    border: 0;
    color: var(--brand-color-mediumgrey);
    border-bottom: 0.5px solid var(--brand-color-mediumgrey);
    height: 5rem;
    background: var(--brand-color-lightgrey);

    &:placeholder-shown {
      color: var(--brand-color-black);
      border-bottom: 2px solid var(--brand-color-black);
    }

    &:not(:placeholder-shown) {
      color: var(--brand-color-black);
      border-bottom: 2px solid var(--brand-color-black);
    }

    &:hover {
      color: var(--brand-color-darkgrey);
      border-bottom: 2px solid var(--brand-color-black);
    }

    &:valid:not([value=""]) {
      color: var(--brand-color-black);
      border-bottom: 2px solid var(--brand-color-black);

      &:after {
        content: "v";
        display: block;
      }

      &:hover {
        &::placeholder {
          color: var(--brand-color-black);
        }
        border-bottom: 2px solid var(--brand-color-black);
      }
    }

    &:valid[value=""] {
      color: var(--brand-color-black);
      border-bottom: 1px solid var(--brand-color-mediumgrey);

      &:after {
        content: "v";
        display: block;
      }

      &:hover {
        &::placeholder {
          color: var(--brand-color-black);
        }
        border-bottom: 2px solid var(--brand-color-black);
      }
    }

    &:valid {
      color: var(--brand-color-black);
      border-bottom: 2px solid var(--brand-color-black);

      &:after {
        content: "v";
        display: block;
      }
    }

    &:invalid {
      color: var(--error-color);
      border-bottom: 2px solid var(--error-color);

      &:after {
        content: "x";
        display: block;
      }
    }
  }
}
