@import "../../../globalStyling/abstracts/variables";

.search-artist,
.search-song,
.create-playlist {
  &__input {
    font-size: var(--fontsize--small);
    padding: 1rem 1.5rem;
    border-radius: 0;
    border: 0;
    color: var(--brand-color--mediumgrey);
    border-bottom: 0.5px solid var(--brand-color--mediumgrey);
    height: 5rem;
    background: var(--brand-color--lightgrey);

    &:hover {
      &:placeholder-shown {
        &::placeholder {
          color: var(--brand-color--black);
        }
        border-bottom: 2px solid var(--brand-color--black) !important;
      }
    }

    &:not(:placeholder-shown) {
      color: var(--brand-color--black);
      border-bottom: 2px solid var(--brand-color--black);
    }

    &:invalid {
      &:not(:placeholder-shown) {
        color: var(--error-color);
        border-bottom: 2px solid var(--error-color);
      }
    }

    &:valid {
      &:placeholder-shown {
        color: var(--brand-color--mediumgrey);
        border-bottom: 0.5px solid var(--brand-color--mediumgrey);
      }
    }
  }
}
