@import "../../../globalStyles/variables.scss";

.default-list {
  border: var(--brand-color-mediumgrey) solid 1px;

  &__item {
    border-bottom: var(--brand-color-mediumgrey) solid 1px;
    font-weight: bold;

    * {
      text-transform: uppercase;
      font-weight: bold;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  &__link {
    color: var(--brand-color-black);
    text-decoration: none;
    font-weight: bold;
  }
}
