.pageblock {
  height: 30rem;
  background: var(--brand-color--yellow);
  margin-top: 0;
  opacity: 0.8;
  transition: all 400ms;
  display: block;

  &:hover {
    margin-top: -2rem;
    text-decoration: none;
    opacity: 1;
    transition: all 400ms;
  }

  &__content-wrapper {
    height: inherit;
    width: inherit;

    &:hover {
      text-decoration: none;
    }

    i {
      font-size: var(--fontsize--h1);
      color: var(--brand-color--black);
    }
  }
}
