@import "../../globalStyling/abstracts/variables.scss";
@import "../../globalStyling/abstracts/mixins.scss";

.main-nav {
  &__item {
  }

  &__link {
    font-size: var(--fontsize--base);
    opacity: 0.7;

    @include mq(var(--breakpoint--tablet-wide)) {
      color: var(--brand-color--white);
    }

    @include mq(var(--breakpoint--desktop-wide)) {
      color: var(--brand-color--yellow);
    }

    &:hover {
      text-decoration: none;
      color: inherit;
      opacity: 1;
    }

    &.isActive {
      color: inherit;
      opacity: 1;
    }
  }
}
