@import "../../globalStyling/abstracts/variables.scss";

.main-nav {
  &__item {
  }

  &__link {
    font-size: var(--font-base);

    opacity: 0.7;

    @include mq("tablet-wide") {
      color: var(--brand-color-white);
    }

    @include mq("desktop-wide") {
      color: var(--brand-color-yellow);
    }

    &:hover {
      text-decoration: none;
      color: inherit;
      opacity: 1;
    }

    &.isActive {
      color: inherit;
      opacity: 1;
    }
  }
}
