@import "../../globalStyling/abstracts/variables.scss";

.main-nav {
  &__item {
  }

  &__link {
    color: var(--brand-color-white);
    opacity: 0.7;

    &:hover {
      text-decoration: none;
      color: inherit;
      opacity: 1;
    }

    &.isActive {
      color: inherit;
      opacity: 1;
    }
  }
}
