@import "../../globalStyles/variables.scss";

.search-form {
  &__input {
    font-size: 1.6rem;
    opacity: 0.6;
    padding: 1rem 2rem;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid var(--brand-color-darkgrey);
    height: 4rem;
    background: var(--brand-color-lightgrey);

    &:hover {
      opacity: 1;
    }
  }
}
