@import "../../globalStyles/variables.scss";

.search-form {
  &__input {
    opacity: 0.3;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid var(--brand-color-darkgrey);
    height: 4rem;
    background: var(--brand-color-lightgrey);
  }
}
