@import "../../globalStyles/variables.scss";

.search-form {
  &__input {
    font-size: 1.4rem;
    padding: 1rem 1.5rem;
    border-radius: 0;
    border: 0;
    color: var(--brand-color-mediumgrey);
    border-bottom: 1px solid var(--brand-color-mediumgrey);
    height: 5rem;
    background: var(--brand-color-lightgrey);

    &:not(:placeholder-shown) {
      color: var(--brand-color-yellow);
      border-bottom: 2px solid var(--brand-color-black);
    }

    &:hover {
      color: var(--brand-color-darkgrey);
      border-bottom: 2px solid var(--brand-color-black);
    }
  }
}
